body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: chocolate;
}

header {
  background-color: #85efed;
  height: 100px;
}

header h1.logo {
  margin-top: 30px;
  font-size: 1.7em;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header h1.logo a {
  color: #e42447;
  text-decoration: none;
}

header h1.logo a:hover {
  color: rgb(4, 211, 21);
  text-decoration: none;
}

h2 {
  color:rgb(7, 128, 228)
}

/*center the content of the page*/
.container { 
  width: 80%;
  height: 674px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(172, 194, 226);
  margin-left: 150px;
}

.home {
  padding: 50px 0 50px 0;
  background-color: rgb(150, 17, 150);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: rgb(228, 244, 15);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.menu {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 1.7em;
}

.menu a {
  color: rgb(5, 213, 1);
  text-decoration: none;
}

.menu a:hover {
  color: #e42447;
  text-decoration: none;
}

.menu a + a {
  margin-left: 20px;
}

.tool {
  color:darkgoldenrod;
}

.tool a {
  color:rgb(20, 9, 233)
}

.luno img{
  width: 550px;
  height: 350px;
  border: blue solid 5px;
  
}

.luno img + img {
  margin-left: 30px;
}

footer {
  background-color: rgb(85, 85, 85);
  color: white;
  font-size: 8px;
  text-align: center;
  padding: 7px;
}