{% extends 'layout.html' %}
{% block content %}
    <h1> Simple Calculator</h1>
    <form method="POST" action="{{url_for('calculator')}}">
        First Number:
            <input type="number" name="first_number" required>
        Operator
            <select name="operator">
                <option>+</option>
                <option>-</option>
                <option>X</option>
                <option>÷</option>
                <option>^</option>
            </select>
        Second Number:
            <input type="number" name="second_number" required>
        <button type="submit">=</button>  
    </form>

    {% if result %}
        <h1>{{first_number}} {{operator}} {{second_number}} = {{result}}</h1>
    {% endif %}
    
{% endblock %}