{% extends 'layout.html' %}

{% block content %}
<h1>Guess the Number Game</h1>
<form method="POST" action="{{url_for('guess_number')}}">
    Level of Difficulty:
        <select name="level">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
        </select>
    Number of Attempts:
        <select name="attempts">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
    <button type="submit">Play Game</button>
</form> 

{% if target or reset %}
    <form method="POST" action="{{url_for('guess_number')}}">
        <h1>Guess {{level}}-Digit Number with {{attempts}} Attempts</h1>
        <input type="hidden" name="level" value={{level}}>
        <input type="hidden" name="attempts" value={{attempts}}>
        <input type="hidden" name="target" value={{target}}>
        <input type="hidden" name="count" value={{count}}>
        <div align="center">
            Your Guess:
            <input type="number" name="guess" placeholder="Enter your guess" required>
            <button type="submit">Let's try</button>
        </div>
    </form>
{% endif %}

{% if result %}
    <h1>{{result}}</h1>
    {% if count < attempts %}
        <p style="color:yellow">Attempts left: {{ attempts|int - count|int }}</p>
    {% endif %}
    {% if count >= attempts %}
        <p style="color:yellow">0 Attempts left</p>
    {% endif %}

    <form method="POST" action="{{url_for('guess_number')}}">
        <input type="hidden" name="level" value={{level}}>
        <input type="hidden" name="attempts" value={{attempts}}>
    <button type="submit" name="reset" value="true">Reset Game</button>
{% endif %}

{% endblock %}