<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Quang Huynh's Website</title>
    <link rel="stylesheet" href='/main.css'>

<body>
    <header>
        <h1 class="logo"><a href="{{ url_for('home') }}">Flask Multi-Tools Website</a></h1>
        <p class="user"> User: {{ session.get('user') }}</p>
        <nav>
            <ul class="menu">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="{{ url_for('contact') }}">Contact</a>  
                {% if 'user' in session %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </ul>
        </nav> 
    </header>

    <div class="container">
        <ul class="tool">
            <a href="{{ url_for('home') }}">Welcome</a> |
            <a href="/state_abbreviation">State_Abbreviation</a> |
            <a href="/calculator">Calculator</a> |  
            <a href="/guess_number">Guess Number</a> |
            <a href="/excel_upload">Excel Upload</a> |
            <a href="/image">Motivation</a> |
            <a href="/text_transformation">Text Transformation</a> |
            <a href="/session_cookies">Session & Cookie</a>
        </ul>

        {% with messages = get_flashed_messages(with_categories = True) %}
            {% for category, message in messages %}
                {{ message }}
            {% endfor %}
        {% endwith %}
        {% block content %}
    
        {% endblock %}
    </div>

    <footer>
        <h1>&copy; Quang Huynh - 2026 Spring Semester</h1>
    </footer>  
</body>
</html>