{% extends 'layout.html' %}
{% block content %}
    <h1> State Abbreviation Converter</h1>
    <form method="POST" action="{{url_for('state_abbreviation')}}">
        <label>State Abbreviation:</label>
        <select name="state_abbreviation">
            {% for key in us_states %}
                <option>{{key}}</option>
            {% endfor %}
        </select>
        <button type="submit">Convert</button>
    </form>

    {% if full_state_name %}
        <h1>{{state_abbreviation}} - {{full_state_name}}</h1>
    {% endif %}
{% endblock %}